<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="livetv_morc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <livetv_morc.My.MySettings>
            <setting name="firstrun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="stv1" serializeAs="String">
                <value>95.47.178.141:8086/udp/239.255.0.3:5000</value>
            </setting>
            <setting name="stv2" serializeAs="String">
                <value>95.47.178.141:8086/udp/239.255.0.4:5000</value>
            </setting>
            <setting name="ta3" serializeAs="String">
                <value>http://88.212.15.9:5000/live/ta3_1200/playlist_key_url.m3u8</value>
            </setting>
            <setting name="lux" serializeAs="String">
                <value>http://live.tvlux.sk:1935/lux/lux.stream_360p/playlist.m3u8</value>
            </setting>
            <setting name="joj" serializeAs="String">
                <value>http://88.212.15.9:5000/live/joj_1200/playlist_key_url.m3u8</value>
            </setting>
            <setting name="markiza" serializeAs="String">
                <value>http://213.81.153.243/live003/channel003_p5.stream/DVR.m3u8</value>
            </setting>
            <setting name="elektrikatv" serializeAs="String">
                <value>rtmp://rtmp.elektrika.cz/live/myStream.sdp</value>
            </setting>
            <setting name="ct1" serializeAs="String">
                <value>https://youtu.be/kf49VfDBk-I</value>
            </setting>
            <setting name="ct2" serializeAs="String">
                <value>https://youtu.be/kf49VfDBk-I</value>
            </setting>
            <setting name="retro" serializeAs="String">
                <value>http://stream.mediawork.cz/retrotv/retrotvHQ1/playlist.m3u8</value>
            </setting>
            <setting name="cetv" serializeAs="String">
                <value>rtmp://62.197.236.3/livepkgr/cetv</value>
            </setting>
            <setting name="slagr" serializeAs="String">
                <value>http://88.212.15.9:5000/live/slagr/playlist_key_url.m3u8</value>
            </setting>
            <setting name="lang" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>True</value>
            </setting>
        </livetv_morc.My.MySettings>
    </userSettings>
</configuration>
